footer.footer

    .shadow-menu

        .shadow-menu__wrapper

            nav.header-nav

                +menuList([
                        {title: "Главная", href: "#"},
                        {title: "Аренда без водителя", href: "#"},
                        {title: "Условия", href: "#"},
                        {title: "Контакты", href: "#"},
                        {title: "О нас", href: "#"},
                        {title: "Аренда с водителем", href: "#"},
                    ], 0, 'menu')


    .footer__line

    .footer__wrapper

        address.footer-info

            .footer-info__item

                .footer-info__line

                    .footer-info__image

                    .footer-info__text Архангельск

                .footer-info__line

                    .footer-info__image.footer-info__image_phone

                    a(href="tel:+79022868111").footer-info__text +7 902 286 81 11

            .footer-info__item

                .footer-info__line

                    .footer-info__image

                    .footer-info__text Северодвинск

                .footer-info__line

                    .footer-info__image.footer-info__image_phone

                    a(href="tel:+79110586811").footer-info__text +7 911 058 68 11

            .footer-info__item

                .footer-info__line

                    .footer-info__image

                    .footer-info__text Калининград

                .footer-info__line

                    .footer-info__image.footer-info__image_phone

                    a(href="tel:+790907931133").footer-info__text +7 9090 793 11 33

            .footer-info__item

                .footer-info__line

                    .footer-info__image

                    .footer-info__text Севастополь

                .footer-info__line

                    .footer-info__image.footer-info__image_phone

                    a(href="tel:+79781210331").footer-info__text +7 978 121 03 31

    .footer__line.footer__line_2

    a(href="/politics.html").footer__politics Политика конфиденциальности

