header.header

    .header__wrapper

        .header-contacts
            a(href="mailto:omegax2015@mail.ru").header-contacts__item omegax2015@mail.ru

            a(href="tel:+79022868111").header-contacts__item +7 902 286 81 11

    .shadow-menu

        .shadow-menu__wrapper

            nav.header-nav

                a(href="/").logo

                +menuList([
                        {title: "Главная", href: "/"},
                        {title: "Аренда без водителя", href: "/rent-without-driver.html"},
                        {title: "Условия", href: "/conditions.html"},
                        {title: "Контакты", href: "/contacts.html"},
                        {title: "О нас", href: "/about-us.html"},
                        {title: "Аренда с водителем", href: "/rent-with-driver.html"},
                    ], 0, 'menu')

                div.header-nav__burger.hamburger.hamburger--collapse(type='button', aria-label='Menu', aria-controls='navigation', aria-expanded='true/false')
                    span.hamburger-box
                        span.hamburger-inner

