include ../mixins/mixins.pug

doctype html
html.html(lang="ru")

    head

        title OmegaX
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="msapplication-TileColor" content="#ffffff")
        //meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="/css/main.css")

    body.body

        .body__tire-mark

        .body__tire-mark.body__tire-mark_2

        include header.pug

        main.main

            .main__wrapper

                block content

        include footer.pug

        noscript У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.

        block scripts
            script(defer src="/js/polyfills.js")
            script(defer src="/js/main.js")
