@use '../utils/vars' as global;

.button {

    display: flex;
    font-family: global.$font-buttons;

    cursor: pointer;

    &_feedback {
        width: 100%;
        display: block;
        text-align: center;
        color: global.$color-white;
        white-space: nowrap;
        background: transparent;
        padding: 13px 48px;
        border: 1px solid global.$color-white;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        text-transform: uppercase;
        transition: background .2s ease;

        &:hover {
            background: global.$color-red;
            transition: background .2s ease;
        }

        &:active {
            background: global.$color-red-darker;
            transition: background .2s ease;
        }
    }

    &_rent {
        color: global.$color-white;
        white-space: nowrap;
        background: global.$color-red;
        padding: 15px 50px;
        box-sizing: border-box;
        border-radius: 10px;
        transition: background .2s ease;

        font-weight: bold;
        font-size: 60px;
        line-height: 82px;
        text-transform: uppercase;

        @media screen and (max-width: 600px) {
            font-size: 24px;
            line-height: 33px;
        }

        &:hover {
            background: global.$color-white;
            color: global.$color-red;
            transition: background .2s ease, color .2s ease;
        }

        &:active {
            background: global.$color-gray;
            transition: background .2s ease;
        }
    }

}

// use BAM modifier
