.logo {
    background: url("/images/logo.svg") no-repeat center;
    min-width: 200px;
    height: 51px;
    background-size: contain;
    align-self: center;

    @media screen and (max-width: 1056px) {
        min-width: 200px;
    }

    @media screen and (max-width: 456px) {
        min-width: 104px;
        height: 22px;
    }
}