@use '../utils/vars' as global;

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    box-sizing: border-box;

    @media screen and (max-width: 1263px) {
        display: none;
    }

    @media screen and (max-width: 1263px) {
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        background: url("/images/background.jpg");
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 135px 15px 104px 15px;
        transform: translateX(100%);
        transition: transform .4s;

        .menu__item {
            height: auto;
            height: 100px;
            width: 100%;
        }

        .menu__link {
            width: 100%;
        }
    }

    &_active {
        transform: translateX(0%);
        transition: transform .4s;
    }


    &__item {
        height: 100%;
        display: flex;
        align-items: center;

        @media screen and (max-width: 756px) {
            align-items: stretch;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        line-height: 20px;
        font-size: 15px;
        color: global.$color-white;
        font-family: global.$font-default;
        font-style: normal;
        transition: background .2s, color .2s ease;
        padding: 0 35px;
        box-sizing: border-box;
        white-space: nowrap;
        font-weight: 300;

        &:visited {
            color: global.$color-white;
        }

        &:hover {
            background: global.$color-red;
            transition: background .2s;
        }

        &:active {
            background: global.$color-red-darker;
            transition: background .2s ease;
        }

        @media screen and (max-width: 756px) {
            height: initial;
        }
    }
}
