@use '../utils/vars' as global;

.popup-form {
    display: none;
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 5%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: rgba(0,0,0,.6);

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: none;
    }

    &__content {
        position: relative;
        left: inherit;
        top: 10%;
        margin: 0 auto;
        width: 100%;
        max-width: 990px;
        background: global.$color-text;
        z-index: 1;

        @media screen and (max-width: 756px) {
            top: 0;
            max-width: inherit;
            width: 100%;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 40px 55px 51px 57px;
        box-sizing: border-box;
        position: relative;

        @media screen and (max-width: 756px) {
            padding: 20px 25px 31px;
        }
    }

    &__closer {
        position: absolute;
        top: 80px;
        right: 50px;
        width: 14px;
        height: 14px;
        background: url("/images/cross.png") no-repeat center;
        cursor: pointer;

        @media screen and (max-width: 900px) {
            top: 25px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 24px;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &_first {
            max-width: 728px;

            @media screen and (max-width: 1200px) {
                flex-direction: row;
                align-items: flex-end;
                flex-wrap: wrap;
            }

            @media screen and (max-width: 956px) {
                .popup-form__element {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &_last {
            justify-content: center;
        }
    }

    &__title {
        font-family: Open Sans Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 82px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 52px;

        @media screen and (max-width: 900px) {
            font-size: 40px;
            line-height: 62px;
        }
    }

    &__element {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 42px;
        color: #FFFFFF;
    }

    &__datepicker {
        position: relative;
        max-width: 210px;

        @media screen and (max-width: 540px) {
            max-width: inherit;
        }

        &:before {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #FFFFFF;
            position: absolute;
            top: 19px;
            @media screen and (max-width: 456px) {
                font-size: 14px;
            }
        }

        &:after {
            content: "";
            position: absolute;
            width: 18px;
            height: 23px;
            top: 18px;
            left: 0;
            background: url("/images/calendar.svg") no-repeat center;
        }

        &_start {
            &:before {
                content: "c:";
                left: 30px;
            }
        }

        &_end {
            &:before {
                content: "по:";
                left: 28px;
            }
        }


        input {
            transition: border-color .2s ease;
            margin: 0;
            border: 0;
            border-width: 0 0 1px;
            border-style: solid;
            border-color: #fff;
            border-radius: 0;
            background: transparent;
            padding: 13px 18px 13px 65px;
            width: 100%;
            overflow: hidden;
            color: #fff;
            font-family: Montserrat;
            font-size: 24px;
            box-sizing: border-box;
            resize: none;

            &:required {
                box-shadow: none;
            }
    
            &:focus
            &:invalid {
                border-color: #da2839;
            }

            @media screen and (max-width: 456px) {
                font-size: 14px;
            }
        }
    }

    &__selected-auto {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 232.9%;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__checkbox {
        display: flex;
        align-items: center;

        label {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 170%;
            color: #FFFFFF;
            padding-left: 15px;
            box-sizing: border-box;

            @media screen and (max-width: 456px) {
                font-size: 14px;
            }
        }

        input {
            padding: 0;
            margin: 0;
        }
    }

    .material-input {
        padding-right: 50px;

        label {
            //font-size: 18px;
            color: #FFFFFF;
        }

        &.mw260 {
            max-width: 260px;
        }

        &:last-child {
            padding-right: 0;
        }

        @media screen and (max-width: 1200px) {
            padding-right: 0;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &.mw260 {
                max-width: inherit;
            }
        }
    }
}