@use '../utils/vars' as global;

.title {

    margin: 0;

    text-align: center;
    text-transform: uppercase;

    font: 600 18px global.$font-titles;

    &_h1 {

        font-size: 26px;

    }

    &_index-page-title {
        font-weight: bold;
        font-size: 60px;
        line-height: 82px;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        margin-top: 30px;

        @media screen and (max-width: 600px) {
            margin-top: 20px;
            font-size: 29px;
            line-height: 113.4%;
        }
    }

    &_page-title {
        font-weight: bold;
        font-size: 60px;
        line-height: 82px;
        text-transform: uppercase;
        color: #333333;
        text-align: left;

        @media screen and (max-width: 600px) {
            font-size: 29px;
            line-height: 113.4%;
        }
    }

    &_mw850 {
        max-width: 850px;
    }
}

// use BAM modifier
