extends ../layout/layout-inner-page.pug

block content

    section.main__content.main__content_about-us

        .text-section

            .main-text-block

                h2.title.title_page-title о нас:

                .main-text-block__wrapper

                    .main-text-block__content

                        |Компания "Омега-Х" на рынке автопроката с 2006 года. За это время мы открыли несколько филиалов и успешно реализовались в различных регионах РФ.
                        br
                        br
                        |У нас есть собственный автопарк из новейших автомобилей 2016-2019 годов разных марок и моделей.
                        |На сегодняшний день наши филиалы есть в Архангельске, Северодвинске, Калининграде и Севастополе.
                        |Станции аренды автомобиля от «Омеги-Х» находятся в аэропортах Архангельска (Талаги) и Калининграда (Храброво). 
                        |И это не предел! С каждым годом мы планируем открывать все новые и новые филиалы, чтобы услуги по аренде авто «Омега-Х» стали доступны в любой точке нашей страны.
                        br
                        br
                        h3 Нам потребуется всего 10 минут, чтобы оформить документы и предоставить вам авто.
                        br
                        |Мы предоставляем полный пакет документов:
                        ul
                            li договор аренды и субаренды;
                            li доверенность и дополнительное соглашение
                                |(при выезде в Европу);
                            li акт осмотра автомобиля и договор на право управления
                                |вторым лицом (в присутствии второго водителя).
                        br
                        h3 Мы работаем как с физическими так и юр. лицами



            .main-text-block

                h2.title.title_page-title Условия проката:

                .main-text-block__wrapper

                    .main-text-block__content

                        ul
                            li Залог для жителей Российской Федерации 5000 - 7500 р. (возвращается обратно)
                            br
                            li Возраст арендатора от 25 лет.
                            br
                            li Водительский стаж не менее 3 лет.
                            br
                            li Ограничение по пробегу 300км/сутки, свыше 300км/сутки - 2руб./км.
                            br
                            li Наличие у арендатора действительного водительского удостоверения и общегражданского паспорта.
                            br
                            li Аренда автомобиля от 1 суток.
                            br
                            li Автомобиль сдается и принимается в чистом виде и с полным баком.
                            br
                            li  Выезд на удалённые расстояния оговариваются при заключении договора.
                            br
                            li Выезд за пределы РФ запрещен (не распространяется на аренду машин в городе Калининград).


        .city-cards

            a(href="#").main-card

                .main-card__image

                .main-card__title Архангельск

            a(href="#").main-card

                .main-card__image.main-card__image_2

                .main-card__title Северодвинск

            a(href="#").main-card

                .main-card__image.main-card__image_3

                .main-card__title Калининград

            a(href="#").main-card

                .main-card__image.main-card__image_4

                .main-card__title Севастополь

    section.feedback-section

        .feedback-section__wrapper

            .main-form.main-form_inner-page

                form(action="/mail.php" method="POST").main-form__wrapper

                    .main-form__title задать вопрос

                    input(type='hidden', name='project_name', value='OmegaX')
                    input(type='hidden', name='admin_email', value='rus882@yandex.ru')
                    input(type='hidden', name='form_subject', value='Вопрос')

                    .material-input.material-input_required(id="material-input-name")
                        input(id="name" type="text" required name="name")
                        label(for="name") Представьтесь

                    .material-input.material-input_required(id="material-input-phone")
                        input(id="phone" type="text" required name="phone")
                        label(for="phone") Ваш телефон

                    .material-textarea(id="material-textarea")
                        textarea(id="message" rows="1" name="question")
                        label(for="message") Ваш вопрос

                    button.button.button_feedback Задать вопрос

            .main-text-block

                h2.title.title_page-title контакты:

                .main-text-block__wrapper

                    .main-text-block__content

                        |г. Архангельск, ул. Дзержинского 7, корп.4  показать на карте
                        br
                        br
                        a(href="tel:+78182478111") +7 (8182) 478 111
                        br
                        a(href="tel:+79022868111") +7 (902) 286 8111
                        br
                        br
                        a(href="mailto:omegax2015@mail.ru") omegax2015@mail.ru

    section.map-section(id="ymap")

block append scripts
    script(defer src="/js/contacts.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&lang=ru_RU" type="text/javascript")

