extends ../layout/layout-inner-page.pug

block content

    section.main__content

    section.feedback-section.feedback-section_conditions

        .feedback-section__wrapper

            .main-form.main-form_inner-page

                form(action="/mail.php" method="POST").main-form__wrapper

                    input(type='hidden', name='project_name', value='OmegaX')
                    input(type='hidden', name='admin_email', value='rus882@yandex.ru')
                    input(type='hidden', name='form_subject', value='Вопрос')

                    .main-form__title задать вопрос

                    .material-input.material-input_required(id="material-input-name")
                        input(id="name" type="text" required name="name")
                        label(for="name") Представьтесь

                    .material-input.material-input_required(id="material-input-phone")
                        input(id="phone" type="text" required name="phone")
                        label(for="phone") Ваш телефон

                    .material-textarea(id="material-textarea")
                        textarea(id="message" rows="1" name="question")
                        label(for="message") Ваш вопрос

                    button.button.button_feedback Задать вопрос

            .main-text-block

                h2.title.title_page-title Условия проката:

                .main-text-block__wrapper

                    .main-text-block__content.main-text-block__content_conditions

                        | - Залог для жителей Российской Федерации 5000 - 7500 р. (возвращается обратно)
                        br
                        | - Возраст арендатора от 25 лет.
                        br
                        | - Водительский стаж не менее 3 лет.
                        br
                        | - Ограничение по пробегу 300км/сутки, свыше 300км/сутки - 2руб./км.
                        br
                        | - Наличие у арендатора действительного водительского удостоверения и общегражданского паспорта.
                        br
                        | - Аренда автомобиля от 1 суток.
                        br
                        | - Автомобиль сдается и принимается в чистом виде и с полным баком.
                        br
                        | -  Выезд на удалённые расстояния оговариваются при заключении договора.
                        br
                        | - Выезд за пределы РФ запрещен (не распространяется на аренду машин в городе Калининград).

block append scripts
    script(defer src="/js/rent-without-driver.js")

