extends ../layout/layout-inner-page.pug

block content

    section.main__content.main__content_contacts

    section.feedback-section

        .feedback-section__wrapper

            .main-form.main-form_inner-page

                form(action="/mail.php" method="POST").main-form__wrapper

                    input(type='hidden', name='project_name', value='OmegaX')
                    input(type='hidden', name='admin_email', value='rus882@yandex.ru')
                    input(type='hidden', name='form_subject', value='Вопрос')

                    .main-form__title задать вопрос

                    .material-input.material-input_required(id="material-input-name")
                        input(id="name" type="text" required name="name")
                        label(for="name") Представьтесь

                    .material-input.material-input_required(id="material-input-phone")
                        input(id="phone" type="text" required name="phone")
                        label(for="phone") Ваш телефон

                    .material-textarea(id="material-textarea")
                        textarea(id="message" rows="1" name="question")
                        label(for="message") Ваш вопрос

                    button.button.button_feedback Задать вопрос

            .main-text-block

                h2.title.title_page-title контакты:

                .main-text-block__wrapper

                    .main-text-block__content

                        |г. Архангельск, ул. Дзержинского 7, корп.4  показать на карте
                        br
                        br
                        a(href="tel:+78182478111") +7 (8182) 478 111
                        br
                        a(href="tel:+79022868111") +7 (902) 286 8111
                        br
                        br
                        a(href="mailto:omegax2015@mail.ru") omegax2015@mail.ru

    section.map-section(id="ymap")
        .map-section__overlay

block append scripts
    script(defer src="/js/contacts.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&lang=ru_RU" type="text/javascript")

