extends ../layout/layout-inner-page.pug

block content

    section.main__content

        .catalog

            h2.title.title_page-title забрать автомобиль из аэропорта

            .catalog__filters.catalog-filters

                .catalog-filters__item

                    .catalog-filters__title Выберите коробку передач:

                    .catalog-filters__options

                        .catalog-filters__option Автомат
                        .catalog-filters__option механика
                        .catalog-filters__option любая кпп

            .catalog__tabs
                #content-id-0.catalog__items.catalog__items_hidden.catalog__items_active
                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/lada-granta.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer lada
                                .catalog-item__model гранта
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1500 руб.
                                .catalog-item__chars-item 4-7 суток: 1100 руб.
                                .catalog-item__chars-item 8-15 суток: 1300 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1100 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 5400 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3300 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/datsun-ondo.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer datsun
                                .catalog-item__model ondo
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1600 руб.
                                .catalog-item__chars-item 4-7 суток: 1400 руб.
                                .catalog-item__chars-item 8-15 суток: 1500 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1200 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 6100 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3700 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/renault-logan-new.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer renault
                                .catalog-item__model
                                    | logan
                                    br
                                    | new
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 150 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1700 руб.
                                .catalog-item__chars-item 4-7 суток: 1500 руб.
                                .catalog-item__chars-item 8-15 суток: 1600 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1300 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 6500 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3900 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/hyundai-solaris.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer hyundai
                                .catalog-item__model solaris
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1900 руб.
                                .catalog-item__chars-item 4-7 суток: 1700 руб.
                                .catalog-item__chars-item 8-15 суток: 1800 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1600 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7400 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 4200 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/hyundai-solaris-new.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer hyundai
                                .catalog-item__model
                                    | solaris
                                    br
                                    | new
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 2000 руб.
                                .catalog-item__chars-item 4-7 суток: 1800 руб.
                                .catalog-item__chars-item 8-15 суток: 1900 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1700 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7800 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 4400 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/scoda-rapid.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer scoda
                                .catalog-item__model rapid
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 2000 руб.
                                .catalog-item__chars-item 4-7 суток: 1800 руб.
                                .catalog-item__chars-item 8-15 суток: 1900 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1700 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7800 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 4400 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/volkswagen-polo.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer volkswagen
                                .catalog-item__model polo
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1900 руб.
                                .catalog-item__chars-item 4-7 суток: 1700 руб.
                                .catalog-item__chars-item 8-15 суток: 1800 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1600 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7400 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 4200 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/volkswagen-jetta.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer volkswagen
                                .catalog-item__model jetta
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 2300 руб.
                                .catalog-item__chars-item 4-7 суток: 2100 руб.
                                .catalog-item__chars-item 8-15 суток: 2200 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 2000 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 8800 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 5000 руб.

                #content-id-1.catalog__items.catalog__items_hidden
                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/lada-2114.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer lada
                                .catalog-item__model 2114
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1200 руб.
                                .catalog-item__chars-item 4-7 суток: 1000 руб.
                                .catalog-item__chars-item 8-15 суток: 1100 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1000 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 4600 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 2700 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/lada-granta.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer lada
                                .catalog-item__model гранта
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1300 руб.
                                .catalog-item__chars-item 4-7 суток: 1000 руб.
                                .catalog-item__chars-item 8-15 суток: 1200 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1000 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 5000 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 2900 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/chevrolet-lacetti.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer chevrolet
                                .catalog-item__model lacetti
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1500 руб.
                                .catalog-item__chars-item 4-7 суток: 1200 руб.
                                .catalog-item__chars-item 8-15 суток: 1400 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1200 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 5700 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3300 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/renault-sandero-stepway.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer renault
                                .catalog-item__model
                                    | sandero
                                    br
                                    | stepway
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1700 руб.
                                .catalog-item__chars-item 4-7 суток: 1500 руб.
                                .catalog-item__chars-item 8-15 суток: 1600 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1300 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 6500 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3900 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/scoda-rapid.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer scoda
                                .catalog-item__model rapid
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 150 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1800 руб.
                                .catalog-item__chars-item 4-7 суток: 1600 руб.
                                .catalog-item__chars-item 8-15 суток: 1700 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1400 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7000 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3900 руб.

                #content-id-2.catalog__items.catalog__items_hidden
                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/lada-2114.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer lada
                                .catalog-item__model 2114
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1200 руб.
                                .catalog-item__chars-item 4-7 суток: 1000 руб.
                                .catalog-item__chars-item 8-15 суток: 1100 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1000 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 4600 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 2700 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/lada-granta.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer lada
                                .catalog-item__model гранта
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1300 руб.
                                .catalog-item__chars-item 4-7 суток: 1000 руб.
                                .catalog-item__chars-item 8-15 суток: 1200 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1000 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 5000 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 2900 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/lada-granta.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer lada
                                .catalog-item__model гранта
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1500 руб.
                                .catalog-item__chars-item 4-7 суток: 1100 руб.
                                .catalog-item__chars-item 4-7 суток: 1300 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1100 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 5400 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3300 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/chevrolet-lacetti.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer chevrolet
                                .catalog-item__model lacetti
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1500 руб.
                                .catalog-item__chars-item 4-7 суток: 1200 руб.
                                .catalog-item__chars-item 8-5 суток: 1400 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1200 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 5700 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3300 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/datsun-ondo.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer datsun
                                .catalog-item__model ondo
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1600 руб.
                                .catalog-item__chars-item 4-7 суток: 1400 руб.
                                .catalog-item__chars-item 8-5 суток: 1500 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1200 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 6100 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3700 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/renault-sandero-stepway.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer renault
                                .catalog-item__model
                                    | sandero
                                    br
                                    | stepway
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 100 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1700 руб.
                                .catalog-item__chars-item 4-7 суток: 1500 руб.
                                .catalog-item__chars-item 8-5 суток: 1600 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1300 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 6500 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3900 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/renault-logan-new.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer renault
                                .catalog-item__model
                                    | logan
                                    br
                                    | new
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 150 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1700 руб.
                                .catalog-item__chars-item 4-7 суток: 1500 руб.
                                .catalog-item__chars-item 8-5 суток: 1600 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1400 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7000 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3900 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/scoda-rapid.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer scoda
                                .catalog-item__model rapid
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission МКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 150 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1800 руб.
                                .catalog-item__chars-item 4-7 суток: 1600 руб.
                                .catalog-item__chars-item 8-5 суток: 1700 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1400 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7000 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 3900 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/hyundai-solaris.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer hyundai
                                .catalog-item__model solaris
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1900 руб.
                                .catalog-item__chars-item 4-7 суток: 1700 руб.
                                .catalog-item__chars-item 8-5 суток: 1800 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1600 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7400 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 4200 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/hyundai-solaris-new.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer hyundai
                                .catalog-item__model
                                    | solaris
                                    br
                                    | new
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1900 руб.
                                .catalog-item__chars-item 4-7 суток: 1700 руб.
                                .catalog-item__chars-item 8-5 суток: 1800 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1700 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7800 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 4400 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/scoda-rapid.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer scoda
                                .catalog-item__model rapid
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 2000 руб.
                                .catalog-item__chars-item 4-7 суток: 1800 руб.
                                .catalog-item__chars-item 8-5 суток: 1900 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1700 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7800 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 4400 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/volkswagen-polo.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer volkswagen
                                .catalog-item__model polo
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 1900 руб.
                                .catalog-item__chars-item 4-7 суток: 1700 руб.
                                .catalog-item__chars-item 8-5 суток: 1800 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 1600 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 7400 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 4200 руб.

                    .catalog-item
                        .catalog-item__top-block
                            .catalog-item__image(style="background-image: url('/images/rent-without-driver/volkswagen-jetta.jpg');")
                            .catalog-item__title
                                .catalog-item__manufacturer volkswagen
                                .catalog-item__model jetta
                                .catalog-item__transmission Трансмиссия:
                                .catalog-item__transmission АКПП
                        .catalog-item__rent-block
                            .catalog-item__rent-info
                                | Посуточный лимит - 300 км/сутки
                                br
                                | стоимость часа - 200 руб.
                            .catalog-item__rent-button заказать
                        .catalog-item__chars
                            .catalog-item__chars-column
                                .catalog-item__chars-item 1-3 суток: 2300 руб.
                                .catalog-item__chars-item 4-7 суток: 2100 руб.
                                .catalog-item__chars-item 8-5 суток: 2200 руб.

                            .catalog-item__chars-column
                                .catalog-item__chars-schedule Рабочий день: 10:00-18:00 лимит 150км/сутки, 2000 руб.
                                .catalog-item__chars-schedule Рабочая неделя: пн 10:00 - пт 18:00 лимит 1250км, 8800 руб.
                                .catalog-item__chars-schedule Выходные дни: 18:00 пт - 10:00 пн лимит 750км, 5000 руб.



    section.feedback-section

        .feedback-section__wrapper

            .main-form.main-form_inner-page

                form(action="/mail.php" method="POST").main-form__wrapper

                    input(type='hidden', name='project_name', value='OmegaX')
                    input(type='hidden', name='admin_email', value='rus882@yandex.ru')
                    input(type='hidden', name='form_subject', value='Вопрос')

                    .main-form__title задать вопрос

                    .material-input.material-input_required(id="material-input-name")
                        input(id="name" type="text" required name="name")
                        label(for="name") Представьтесь

                    .material-input.material-input_required(id="material-input-phone")
                        input(id="phone" type="text" required name="phone")
                        label(for="phone") Ваш телефон

                    .material-textarea(id="material-textarea")
                        textarea(id="message" rows="1" name="question")
                        label(for="message") Ваш вопрос

                    button.button.button_feedback Задать вопрос

            .main-text-block

                h2.title.title_page-title условия аренды

                .main-text-block__wrapper

                    .main-text-block__content

                        | - Залог для жителей Российской Федерации 5000 - 7500 р. (возвращается обратно)
                        br
                        | - Возраст арендатора от 25 лет.
                        br
                        | - Водительский стаж не менее 3 лет.
                        br
                        | - Ограничение по пробегу 300км/сутки, свыше 300км/сутки - 2руб./км.
                        br
                        | - Наличие у арендатора действительного водительского удостоверения и общегражданского паспорта.
                        br
                        | - Аренда автомобиля от 1 суток.
                        br
                        | - Автомобиль сдается и принимается в чистом виде и с полным баком.
                        br
                        | -  Выезд на удалённые расстояния оговариваются при заключении договора.
                        br
                        | - Выезд за пределы РФ запрещен (не распространяется на аренду машин в городе Калининград).

    //- .popup-form

    //-     .popup-form__overlay

    //-     .popup-form__content

    //-         form.popup-form__wrapper

    //-             .popup-form__closer

    //-             .popup-form__title заказать автомобиль

    //-             .popup-form__row.popup-form__row_first

    //-                 .popup-form__element

    //-                     label(for="startDate").popup-form__label Выберите даты:

    //-                     .popup-form__datepicker.popup-form__datepicker_start
    //-                         input(type="text", required name="startDate").popup-form__datepicker-input

    //-                 .popup-form__element

    //-                     .popup-form__datepicker.popup-form__datepicker_end
    //-                         input(type="text", required name="endDate").popup-form__datepicker-input

    //-                 .popup-form__element

    //-                     .popup-form__label Выбранный автомобиль:

    //-                     .popup-form__selected-auto Volkswagen Polo

    //-                     input#popup-form-selected-auto(type="hidden", name="selectedAuto")

    //-             .popup-form__row

    //-                 .material-input.mw260(id="material-input-form")
    //-                     input#popup-form-experience(type="text" required name="experience")
    //-                     label(for="popup-form-experience") Водительский стаж:

    //-                 .material-input.mw260(id="material-input-form")
    //-                     input#popup-form-license-number(type="text" required name="license-number")
    //-                     label(for="popup-form-license-number") Номер ВУ:

    //-                 .material-input.mw260(id="material-input-form")
    //-                     input#popup-form-phone(type="text" required name="phone")
    //-                     label(for="popup-form-phone") Телефон:

    //-             .popup-form__row

    //-                 .material-input.mw260(id="material-input-form")
    //-                     input#popup-form-fio(type="text" required name="fio")
    //-                     label(for="popup-form-fio") Ф.И.О.:

    //-                 .material-input.mw260(id="material-input-form")
    //-                     input#popup-form-passport(type="text" required name="popup-form-passport")
    //-                     label(for="popup-form-passport") Номер и серия паспорта:

    //-                 .material-input.mw260(id="material-input-form")
    //-                     input#popup-form-passport-date(type="text" required name="passport-date")
    //-                     label(for="popup-form-passport-date") Когда выдан:

    //-             .popup-form__row

    //-                 .material-input(id="material-input-form")
    //-                     input#popup-form-passport-issued(type="text" required name="passport-issued")
    //-                     label(for="popup-form-passport-issued") Кем выдан

    //-                 .material-input.mw260(id="material-input-form")
    //-                     input#popup-form-passport-issued-code(type="text" required name="passport-issued-code")
    //-                     label(for="popup-form-passport-issued-code") Код подразделения:

    //-             .popup-form__row

    //-                 .material-input(id="material-input-form")
    //-                     input#popup-form-address(type="text" required name="address")
    //-                     label(for="popup-form-address") Адрес регистрации:

    //-             .popup-form__row

    //-                 .material-input(id="material-input-form")
    //-                     input#popup-form-wishes(type="text" name="wishes")
    //-                     label(for="popup-form-wishes") Пожелания:

    //-             .popup-form__row

    //-                 .popup-form__checkbox
    //-                     input#agreement(type="checkbox", required name="agreement")
    //-                     label(for="agreement") Ваши данные будут использованы только для обработки заказа.

    //-             .popup-form__row.popup-form__row_last

    //-                 button(type="submit").button.button_feedback заказать


block append scripts
    script(defer src="/js/rent-without-driver.js")

