extends ../layout/layout.pug

block content

    section.main__content

        .city-cards

            a(href="#").main-card

                .main-card__image

                .main-card__title Архангельск

            a(href="#").main-card

                .main-card__image.main-card__image_2

                .main-card__title Северодвинск

            a(href="#").main-card

                .main-card__image.main-card__image_3

                .main-card__title Калининград

            a(href="#").main-card

                .main-card__image.main-card__image_4

                .main-card__title Севастополь

    section.feedback-section

        .feedback-section__wrapper

            .main-form

                form(action="/mail.php" method="POST").main-form__wrapper

                    input(type='hidden', name='project_name', value='OmegaX')
                    input(type='hidden', name='admin_email', value='rus882@yandex.ru')
                    input(type='hidden', name='form_subject', value='Вопрос')

                    .main-form__title задать вопрос

                    .material-input.material-input_required(id="material-input-name")
                        input(id="name" type="text" required name="name")
                        label(for="name") Представьтесь

                    .material-input.material-input_required(id="material-input-phone")
                        input(id="phone" type="text" required name="phone")
                        label(for="phone") Ваш телефон

                    .material-textarea(id="material-textarea")
                        textarea(id="message" rows="1" name="question")
                        label(for="message") Ваш вопрос

                    button.button.button_feedback Задать вопрос

            .main-text-block

                .main-text-block__wrapper

                    .main-text-block__content

                        ul
                            li Стоимость аренды авто без водителя от 900 руб. /сутки;
                            li Огромная линейка автотранспорта;
                            li Чистые и ухоженные автомобили;
                            li Подбор авто под ваш бюджет;
                            li Оперативность оформления аренды;
                            li Доставка автомобиля в любое место в черте города, а также в аэропорт;
                            li Система лояльности для постоянных клиентов;
                            li Работа с физическими и юридическими лицами;
                            li Оплата наличным и безналичным расчетом;
                            li Личный менеджер ответит на любые вопросы.

    section.map-section(id="ymap")
        .map-section__overlay

block append scripts
    script(defer src="/js/index.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&lang=ru_RU" type="text/javascript")