extends ../layout/layout-inner-page.pug

block content

    section.feedback-section.feedback-section_conditions

        .feedback-section__wrapper

            .main-text-block

                h2.title.title_page-title Условия проката:

                .main-text-block__wrapper

                    .main-text-block__content.main-text-block__content_conditions

                        |Используя сайт avtoprokat29.ru, вы соглашаетесь на обработку ваших персональных данных и даете следующее Согласие
                        |Согласие на обработку персональных данных
                        |Используя данный сайт (заполняя формы, авторизуясь через социальные сети и сервисы, просматривая страницы), в соответствии с Федеральным законом № 152-ФЗ "О персональных данных" от 27.07.2006 года, своей волей и в своем интересе выражаю свое безусловное согласие на обработку моих персональных данных Обществу с Ограниченной Ответственностью "ОМЕГА Х" (ОГРН 1062902015329 , ИНН 2902053822), зарегистрованным в соответствии с законодательством РФ по адресу: 164500, г. СЕВЕРОДВИНСК, БЕЛОМОРСКИЙ, ДОМ 3, КОРПУС 1 (далее — Оператор). Персональные данные — любая информация, относящаяся к определенному или определяемому на основании такой информации физическому лицу. Мной выдано согласие на обработку следующих персональных данных: Фамилия, Имя, Отчество, Адрес электронной почты, Место работы, Должность, Телефон. Настоящее Согласие дано Оператору для совершения следующих действий с персональными данными с использованием средств автоматизации и / или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, блокирование, обезличивание, уничтожение, удаление. Согласие дается Оператору для обработки моих персональных данных в целях: направление мне электронных писем; предоставление мне услуг и работ; направление мне информации, в том числе рекламной, об услугах и предложениях Оператора. Согласие действует до момента его отзыва путем направления соответствующего уведомления на электронный адрес omegax2015@mail.ru. В случае отзыва моего согласия Оператор вправе продолжить обработку персональных данных при наличии оснований, указанных в пунктах 2-11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ от 27.07.2006 г.