extends ../layout/layout-inner-page.pug

block content

    section.main__content.main__content_rent-with-driver

        h2.title.title_page-title Аренда с водителем

        .driver-catalog

            .driver-catalog__wrapper

                .driver-catalog-item

                    .driver-catalog-item__wrapper

                        .driver-catalog-item__swiper
                            .driver-catalog-item__swiper-wrapper
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                            .driver-catalog-item__swiper-arrow(id="arrow-left")
                            .driver-catalog-item__swiper-arrow.driver-catalog-item__swiper-arrow_right(id="arrow-right")

                        .driver-catalog-item__info
                            .driver-catalog-item__info-wrapper
                                .driver-catalog-item__title Лада Гранта
                                .driver-catalog-item__price стоимость часа - 1 100 руб.
                                .driver-catalog-item__text-block Свадьбы, торжественные мероприятия и т.п. Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.
                                a(href="tel:+79095553322").driver-catalog-item__phone +7 (909) 555- 33- 22

                .driver-catalog-item

                    .driver-catalog-item__wrapper

                        .driver-catalog-item__swiper
                            .driver-catalog-item__swiper-wrapper
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                            .driver-catalog-item__swiper-arrow(id="arrow-left")
                            .driver-catalog-item__swiper-arrow.driver-catalog-item__swiper-arrow_right(id="arrow-right")

                        .driver-catalog-item__info
                            .driver-catalog-item__info-wrapper
                                .driver-catalog-item__title Лада Гранта
                                .driver-catalog-item__price стоимость часа - 1 100 руб.
                                .driver-catalog-item__text-block Свадьбы, торжественные мероприятия и т.п. Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.
                                a(href="tel:+79095553322").driver-catalog-item__phone +7 (909) 555- 33- 22

                .driver-catalog-item

                    .driver-catalog-item__wrapper

                        .driver-catalog-item__swiper
                            .driver-catalog-item__swiper-wrapper
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                                .driver-catalog-item__swiper-image
                            .driver-catalog-item__swiper-arrow(id="arrow-left")
                            .driver-catalog-item__swiper-arrow.driver-catalog-item__swiper-arrow_right(id="arrow-right")

                        .driver-catalog-item__info
                            .driver-catalog-item__info-wrapper
                                .driver-catalog-item__title Лада Гранта
                                .driver-catalog-item__price стоимость часа - 1 100 руб.
                                .driver-catalog-item__text-block Свадьбы, торжественные мероприятия и т.п. Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.Свадьбы, торжественные мероприятия и т.п.
                                a(href="tel:+79095553322").driver-catalog-item__phone +7 (909) 555- 33- 22


block append scripts
    script(defer src="/js/rent-with-driver.js")

