$font-default: 'Montserrat', sans-serif;
$font-titles: 'Open Sans Condensed', sans-serif;
$font-buttons: 'Open Sans Condensed', sans-serif;

$shadow-default: 3px 3px 3px 0 #b8b8b8;


$width-container: 1215px;

$color-text: #333333;

$color-black: #000;

$color-white: #fff;

$color-green: #59ae7b;

$color-green-dark: #45865f;

$color-red: #e31e24;
$color-red-darker: rgb(124, 21, 24);

$color-gray: #a3a3a3;

