@use '../utils/vars' as global;

.html,
.body {
    width: 100%;
    //min-height: 100%;
    display: flex;

    &_menu-open {
        overflow: hidden;
        position: relative;
        height: 100%;
        //position: fixed;
    }
}

* {
    outline: 0;
}

.body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    background: url("/images/background.jpg");

    margin: 0;
    padding: 0;

    font-family: global.$font-default;
    font-style: normal;
    color: global.$color-white;

    &__tire-mark {
        position: absolute;
        top: 0;
        right: 0;
        mix-blend-mode: darken;
        overflow: hidden;
        background: url("/images/tire-mark-1.svg") no-repeat center;
        width: 751px;
        height: 1346px;
        z-index: -2;
        background-size: cover;
        background-position-x: 30px;
        opacity: 0.6;

        @media screen and (max-width: 1056px) {
            background-position-x: 200px;
        }

        @media screen and (max-width: 756px) {
            display: none;
        }

        &_2 {
            width: 710px;
            height: 463px;
            bottom: 0;
            left: 0;
            top: inherit;
            background: url("/images/tire-mark-2.png") no-repeat center;
            //transform: matrix(1, -0.07, -0.07, 1, 0, 0);
            background-size: cover;
            background-position-x: -143px;
            background-position-y: 50px;

            @media screen and (max-width: 1056px) {
                background-position-x: -400px;
            }

            @media screen and (max-width: 856px) {
                display: none;
            }
        }
    }

    &_inner-page {
        background: url("/images/background-inner-page.jpg");
        color: global.$color-text;

        .body__tire-mark {
            opacity: 0.2;
            //top: 719px;
        }

        .body__tire-mark_2 {
            top: inherit;
        }

        .shadow-menu {
            background: rgba(0, 0, 0, 0.8);
        }

        .footer .shadow-menu {
            background: global.$color-text;
            opacity: 1;
        }

        .footer .footer__politics {
            color: global.$color-text;

            &:visited {
                color: global.$color-text;
            }
        }

        .footer-info__text {
            color: #303030;
        }

        .header-contacts__item {
            color: #2F2F2F;
        }

        .main__content {
            max-width: global.$width-container;

            @media screen and (max-width: 1366px) {
                max-width: inherit;
                padding: 0 60px;
                box-sizing: border-box;
            }

            @media screen and (max-width: 1320px){
                padding: 0 30px;
            }

            @media screen and (max-width: 456px){
                padding: 0 20px;
            }
        }

        .menu {
            @media screen and (max-width: 1263px) {
                background: global.$color-text;
            }
        }
    }

    &_inner-page-rent {
        .body__tire-mark {
            top: 719px;
        }
        .body__tire-mark_2 {
            top: inherit;
        }
    }
}

a {
    text-decoration: none;
}

