.main__content_about-us {
    .text-section {
        width: 100%;
        display: flex;
        margin-top: 52px;
        font-weight: 300;

        @media screen and (max-width: 756px) {
            flex-direction: column;
            margin-top: 30px;
        }

        @media screen and (max-width: 456px) {
            margin-top: 15px;
        }
    }

    .main-text-block {
        padding: 0;
        line-height: 170%;
        font-weight: 300;

        &__wrapper {
            max-width: inherit;
        }

        &__content {
            line-height: 170%;
            font-weight: 300;

            @media screen and (max-width: 656px) {
                font-size: 14px;
                line-height: 150%;
            }
        }

        &:first-child {
            margin-right: 40px;
        }

        &:last-child {
            .main-text-block__content {
                * {
                    line-height: 170%;
                    font-weight: 300;
                }
            }
        }
    }
}