.feedback-section {
    &_conditions{
        margin-top: 106px;

        @media screen and (max-width: 1056px) {
            margin-top: 15px;
        }

        .main-text-block {
            padding: 50px 0 60px 29px;
        }
    }
}
