.main__content_contacts {
    margin-top: 30px;

    @media screen and (max-width: 756px) {
        margin-top: 15px;
    }
}

.main-text-block__content {
    a {
        color: #333;

        &:visited {
            color: #333;
        }
    }
}