@use '../utils/vars' as global;

.main {

    &__map-section {
        height: 503px;
        width: 100%;
    }

    &__content {
        @media screen and (max-width: 1320px) {
            padding: 0 30px;
        }

        @media screen and (max-width: 456px){
            padding: 0 20px;
        }
    }
}

.city-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
    flex-wrap: wrap;

    @media screen and (max-width: 1322px) {
        justify-content: center;
    }

    @media screen and (max-width: 456px) {
        margin-top: 20px;
        margin-bottom: 0;
    }

}

.feedback-section {
    width: 100%;
    min-height: 664px;
    display: flex;

    &__wrapper {
        display: flex;
        width: 100%;

        @media screen and (max-width: 1056px) {
            flex-direction: column;
        }
    }
}

.main-card {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    margin-right: 30px;
    border-radius: 4px;
    padding: 28px 0;
    width: 100%;
    max-width: 278px;
    height: 410px;
    box-sizing: border-box;
    overflow: hidden;
    transition: background .3s ease;

    @media screen and (max-width: 1322px) {
        flex-basis: 50%;
        margin-bottom: 30px;
    }

    @media screen and (max-width: 1262px) {
        max-width: 381px;

        &:nth-child(2) {
            margin-right: 0;
        }
    }


    @media screen and (max-width: 851px) {
        height: 333px;
        flex-basis: 48%;
        margin-right: 4%;
    }

    @media screen and (max-width: 656px) {
        height: 133px;
        flex-basis: 48%;
        margin-right: 4%;
        padding: 8px 10px;
    }

    &__title {
        font-family: global.$font-titles;
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        text-transform: uppercase;
        z-index: 2;

        @media screen and (max-width: 756px) {
            font-size: 30px;
            line-height: 44px;
        }

        @media screen and (max-width: 656px) {
            font-size: 18px;
            line-height: 25px;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 4px;
        background: url("/images/city-card-arh.jpg") no-repeat center/cover;
        width: 100%;
        height: 100%;
        transition: transform .3s ease;

        &_2 {
            background: url("/images/city-card-sever.jpg") no-repeat center/cover;
        }

        &_3 {
            background: url("/images/city-card-kal.jpg") no-repeat center/cover;
        }

        &_4 {
            background: url("/images/city-card-sev.jpg") no-repeat center/cover;
        }
    }

    &:link {
        color: global.$color-white;
    }

    &:visited {
        color: global.$color-white;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        // &:after {
        //     transition: opacity .3s ease;
        //     opacity: 0;
        // }

        .main-card__image {
            transform: scale(1.2);
            transition: transform .3s ease;
        }
    }

    // &:after {
    //     z-index: 1;
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(180deg, rgba(134, 99, 99, 0) 70.24%, rgba(0, 0, 0, 1) 100%);
    //     opacity: 1;
    //     transition: opacity .3s ease;
    // }

    &:before {
        position: absolute;
        top: 0;
        left: -85%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        transform: skewX(-25deg);
    }
    &:focus {
        &:before {
            -webkit-animation: shine .75s;
            animation: shine .75s;
        }
    }
    @keyframes shine {
        100% {
            left: 125%;
        }
    }
}


.main-form {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1056px) {
        order: 2;
    }

    &__wrapper {
        max-width: 607.5px;
        width: 100%;
        padding: 50px 200px 81px 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        @media screen and (max-width: 1366px) {
            max-width: inherit;
            padding: 50px 30px 81px 60px;
        }

        @media screen and (max-width: 1056px) {
            padding: 24px 19px 38px 19px;
        }
    }

    &__title {
        font-family: global.$font-titles;
        font-weight: 700;
        font-size: 60px;
        line-height: 82px;
        text-transform: uppercase;
        margin-bottom: 32px;

        @media screen and (max-width: 456px) {
            font-size: 36px;
            line-height: 49px;
        }

    }

    &_inner-page {
        background: global.$color-text;
        color: global.$color-white;

        .title {
            margin-bottom: 15px;
        }
    }

    .material-input,
    .material-textarea {
        margin-bottom: 32px;
    }

    .button {
        max-width: 239px;
        margin-top: 47px;

        @media screen and (max-width: 456px) {
            max-width: inherit;
            justify-content: center;
        }
    }
}

.main-text-block {
    width: 100%;
    height: 100%;
    padding: 95px 0 60px 29px;
    box-sizing: border-box;

    @media screen and (max-width: 1056px) {
        order: 1;
        height: inherit;
    }

    &__wrapper {
        max-width: 607.5px;
        box-sizing: border-box;

        &:not(:first-child) {
            margin-top: 15px;
        }

        @media screen and (max-width: 1366px) {
            max-width: inherit;
        }
    }

    &__content {
        font-family: global.$font-default;
        font-style: normal;
        font-size: 18px;
        font-weight: 300;
        line-height: 170%;

        * {
            line-height: 170%;
            font-weight: 300;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        font-family: global.$font-default;
        font-style: normal;
        font-size: 18px;
        line-height: 170%;
        display: flex;

        @media screen and (max-width: 656px) {
            font-size: 14px;
            line-height: 150%;
        }

        &:before {
            content: "-";
            margin-right: 6px;
        }
    }

    h3 {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-weight: 500;
    }

    @media screen and (max-width: 1366px) {
        padding: 65px 60px 81px 30px;
    }

    @media screen and (max-width: 1056px) {
        padding: 0 30px;
        margin-bottom: 37px;
    }
}

.map-section {
    height: 503px;
    width: 100%;

    &__overlay {
        display: none;
        z-index: 2;
        position: absolute;
        top: 40px;
        left: 40px;
        width: calc(100% - 40px);
        height: calc(100% - 100px);

        @media screen and (max-width: 756px) {
            display: block;
        }
    }
}
