@use '../utils/vars' as global;

.main__content_rent-with-driver {
    margin-top: 45px;

    @media screen and (max-width: 456px) {
        margin-top: 15px;
    }
}

.driver-catalog {
    padding: 30px 0 54px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.driver-catalog-item {
    display: flex;
    width: 100%;
    max-width: 1201px;
    //height: 286px;
    background: global.$color-white;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    &__wrapper {
        display: flex;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 780px) {
            flex-direction: column;
        }
    }

    &__swiper {
        width: 100%;
        height: 286px;
        position: relative;
        overflow: hidden;

        @media screen and (max-width: 456px) {
            height: 155px;
        }
    }

    &__swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        box-sizing: content-box;
    }

    &__swiper-arrow {
        width: 37px;
        height: 37px;
        position: absolute;
        left: 30px;
        top: calc(50% - 18.5px);
        background: url("/images/rent-with-driver/swiper-arrow.svg") no-repeat center;
        z-index: 2;
        cursor: pointer;

        @media screen and (max-width: 456px) {
            left: 15px;
        }

        &_right {
            transform: rotate(180deg);
            left: auto;
            right: 30px;

            @media screen and (max-width: 456px) {
                right: 15px;
            }
        }
    }

    &__swiper-image {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url("/images/rent-with-driver/Volkswagen-Jetta/1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__info {
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 38px 48px 80px;

        @media screen and (max-width: 1056px) {
            padding: 0 38px 53px 30px;
        }
    }

    &__title {
        font-family: global.$font-titles;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 82px;
        text-transform: uppercase;
        color: global.$color-text;

        @media screen and (max-width: 1056px) {
            font-size: 40px;
            line-height: 62px;
        }
    }

    &__price {
        font-family: global.$font-titles;
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 42px;
        text-transform: uppercase;
        color: global.$color-text;
        margin-bottom: 16px;

        @media screen and (max-width: 1056px) {
            font-size: 25px;
            line-height: 32px;
        }
    }

    &__text-block {
        font-family: global.$font-default;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: global.$color-black;
        padding-bottom: 20px;
        border-bottom: 1px dotted #979797;
        margin-bottom: 10px;
    }

    &__phone {
        color: global.$color-text;

        &:visited {
            color: global.$color-text;
        }
    }
}
