@use '../utils/vars' as global;

.main__content_rent-without-driver {
    .main-text-block {
        padding: 49px 0 60px 29px;
    }

    .main__top-block {
        @media screen and (max-width: 456px) {
            padding: 16px 0 161px 0;
        }

        @media screen and (max-width: 447px) {
            padding: 16px 0 117px 0;
        }
    }

    .main__top-background {
        @media screen and (max-width: 600px) {
            height: 577px;
        }

        @media screen and (max-width: 456px) {
            height: 390px;
        }
    }

    .button_rent {
        @media screen and (max-width: 456px) {
            margin-top: 30px;
            align-self: flex-start;
        }
    }
}


.catalog {
    padding: 45px 0 61px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .title_page-title {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 600px) {
        padding: 42px 0 61px 0;
    }

    @media screen and (max-width: 497px) {
        padding: 15px 0 61px 0;
    }

    &__items {
        display: none;
        flex-wrap: wrap;
        animation: fadeEffect .6s ease;

        @media screen and (max-width: 756px) {
            // flex-direction: column;
            display: block;
        }

        &_active {
            display: flex;
        }

        @keyframes fadeEffect {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}

.catalog-filters {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 39px;

    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        @media screen and (max-width: 860px) {
            display: block;
            height: auto;
        }
    }

    &__title {
        font-family: global.$font-titles;
        font-weight: bold;
        font-size: 21px;
        line-height: 29px;
        text-transform: uppercase;
        color: global.$color-text;
        margin-right: 20px;

        @media screen and (max-width: 860px) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__options {
        display: flex;

        @media screen and (max-width: 600px) {
            //flex-direction: column;
        }
    }

    &__option {
        text-transform: uppercase;
        font-family: global.$font-titles;
        color: global.$color-text;
        font-weight: bold;
        font-size: 21px;
        line-height: 29px;
        display: flex;
        padding: 9px 26px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        border: 1px solid global.$color-text;
        box-sizing: border-box;
        border-radius: 100px;
        margin-right: 19px;
        cursor: pointer;
        transition: border .2s ease,
                    background .2s ease,
                    color .2s ease;

        @media screen and (max-width: 600px) {
            font-size: 16px;
            line-height: 22px;
            padding: 3px 11px;
            margin-right: 6px;
        }

        @media screen and (max-width: 480px) {
            font-size: 15px;
        }

        &_active {
            border: 1px solid global.$color-green;
            background: global.$color-green;
            color: global.$color-white;
            transition: border .2s ease,
                    background .2s ease,
                    color .2s ease;
        }

        &:hover {
            border: 1px solid global.$color-green;
            background: global.$color-green;
            color: global.$color-white;
            transition: border .2s ease,
                    background .2s ease,
                    color .2s ease;
        }

        &:active {
            border: 1px solid global.$color-green-dark;
            background: global.$color-green-dark;
            color: global.$color-white;
            transition: border .2s ease,
                    background .2s ease,
                    color .2s ease;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 860px) {
        display: block;
        height: auto;
    }

}

.catalog-item {
    width: calc(50% - 20px);
    min-width: 300px;
    margin-bottom: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    background: global.$color-white;
    padding: 5px 20px 10px 28px;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow .2s ease;
    cursor: pointer;

    @media screen and (max-width: 856px) {
        width: 100%;
        margin-right: 0;
    }

    @media screen and (max-width: 456px) {
        min-width: inherit;
        padding: 5px 13px 18px 13px;
    }

    &__top-block {
        display: flex;
        width: 100%;
        position: relative;
    }

    &__image {
        height: 250px;
        width: 392px;
        background-image: url("/images/rent-without-driver/lada-2114.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__title {
        position: absolute;
        top: 0;
        right: 0;

        @media screen and (max-width: 756px){
            div:nth-child(4) {
                display: block;
            }
        }
    }

    &__manufacturer {
        font-family: global.$font-titles;
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        text-align: right;
        text-transform: uppercase;
        color: global.$color-text;

        @media screen and (max-width: 565px) {
            font-size: 36px;
            line-height: 49px;
        }
    }

    &__model {
        font-family: global.$font-titles;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        text-align: right;
        text-transform: uppercase;
        color: global.$color-text;

        @media screen and (max-width: 565px) {
            font-size: 21px;
            line-height: 29px;

            br {
                display: none;
            }
        }
    }

    &__transmission {
        font-family: global.$font-default;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        text-align: right;
        color: global.$color-black;

        @media screen and (max-width: 565px) {
            display: none;
        }
    }

    &__rent-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 17px;

        @media screen and (max-width: 1366px) {
            flex-direction: column;
        }
    }

    &__rent-info {
        font-family: global.$font-titles;
        font-weight: bold;
        font-size: 21px;
        line-height: 29px;
        text-transform: uppercase;
        color: global.$color-text;

        @media screen and (max-width: 1366px) {
            margin-bottom: 10px;
        }

        @media screen and (max-width: 456px) {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__rent-button {
        white-space: nowrap;
        background: transparent;
        padding: 16px 19px 18px 19px;
        border: 1px solid global.$color-text;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        text-transform: uppercase;
        transition: background .2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__chars {
        display: flex;
        max-width: 460px;

        @media screen and (max-width: 456px) {
            flex-direction: column;
        }
    }

    &__chars-column {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:first-child {
            max-width: 200px;
        }
    }

    &__chars-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;

            .catalog-item__chars-item {
                border-bottom: 0;
            }
        }
    }

    &__chars-item {
        display: flex;
        align-items: center;
        font-family: global.$font-default;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: global.$color-black;
        width: 100%;
        max-width: 169px;
        margin-right: 5px;
        border-bottom: 1px dotted #979797;
        margin-bottom: 23px;
        box-sizing: border-box;
        padding-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: 456px) {
            &:last-child {
                margin-bottom: 29px;
            }
        }

    }

    &__chars-schedule {
        width: 100%;
        max-width: 250px;
        min-height: 44px;
        display: flex;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: 756px) {
            line-height: 1.4;
            padding-bottom: 10px;
        }
    }

    &:hover {
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        transition: box-shadow .2s ease;

        .catalog-item__rent-button {
            background: global.$color-red;
            border-color: global.$color-red;
            transition: background .2s ease,
                        border-color .2s ease;
            color: global.$color-white;
        }
    }

    &:nth-child(2n) {
        margin-right: 0;
    }
}