@use '../utils/vars' as global;

.footer {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    z-index: 1;

    width: 100%;

    .shadow-menu {
        height: 117.5px;

        .button.button_feedback {
            margin-left: 10px;
            align-self: center;

            @media screen and (max-width: 1056px) {
                margin-left: 0;
                margin-top: 30px;
            }
        }

        @media screen and (max-width: 1264px) {
            display: none;
        }
    }

    .header-nav {
        justify-content: center;
    }

    &__wrapper {
        max-width: global.$width-container;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 1366px) {
            max-width: inherit;
            padding: 0 60px;
            box-sizing: border-box;
        }

        @media screen and (max-width: 1320px) {
            padding: 26px 19px;
            height: initial;
        }
    }

    &__line {
        margin-top: 32px;
        margin-bottom: 16px;
        width: 621px;
        height: 82px;
        flex-shrink: 0;
        align-self: flex-end;
        background: url("/images/protector-line-1.png") no-repeat center;

        @media screen and (max-width: 1366px) {
            width: 40%;
            background-size: contain;
        }

        @media screen and (max-width: 1056px) {
            width: 50%;
        }

        @media screen and (max-width: 956px){
            display: none;
        }

        &_2 {
            margin-top: 24px;
            margin-bottom: 0;
            width: 957px;
            background: url("/images/protector-line-2.png") no-repeat center;

            @media screen and (max-width: 1366px) {
                width: 60%;
                background-size: contain;
            }

            @media screen and (max-width: 1056px) {
                width: 80%;
            }
        }
    }

    &__politics {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        bottom: 30px;
        left: 17.7%;
        color: global.$color-white;
        font-family: global.$font-default;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        z-index: 30;

        &:visited {
            color: global.$color-white;
        }

        @media screen and (max-width: 1600px) {
            left: 11.6%;
        }

        @media screen and (max-width: 1440px) {
            left: 7.3%;
        }

        @media screen and (max-width: 1120px) {
            bottom: 90px;
        }

        @media screen and (max-width: 956px) {
            position: inherit;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

}

.footer-info {
    max-width: 895px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 721px) {
        display: block;
        max-width: inherit;
    }

    &__item {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 721px) {
            margin-bottom: 36px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__line {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        margin-right: 4px;
        width: 25px;
        height: 25px;
        background: url("/images/home-icon.svg") no-repeat center;

        &_phone {
            background: url("/images/phone-icon.svg") no-repeat center;
        }
    }

    &__text {
        color: global.$color-white;
        font-family: global.$font-default;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
    }
}


