@use '../utils/vars' as global;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 19px;
    z-index: 2;

    width: 100%;

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        max-width: global.$width-container;
        margin-bottom: 21px;

        @media screen and (max-width: 1336px){
            max-width: inherit;
            padding: 0 60px;
            box-sizing: border-box;
        }

        @media screen and (max-width: 1320px){
            padding: 0 30px;
        }

        @media screen and (max-width: 456px){
            padding: 0 20px;
        }
    }
}

.shadow-menu {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 60px;
    box-sizing: border-box;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        max-width: global.$width-container;
    }

    @media screen and (max-width: 1320px){
        padding: 0 30px;
    }

    @media screen and (max-width: 456px){
        padding: 0 20px;
        min-height: 42px;
    }
}

.header-nav {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    &__burger {
        display: none;
        z-index: 10;
        transition: position .3s;

        @media screen and (max-width: 1263px) {
            display: flex;
            align-items: center;
        }

        &_active {
            position: absolute;
            right: 15px;
            top: 76px;
            transition: position .3s;
        }
    }

    .logo {
        margin-right: 10px;
    }
}

.header-contacts {
    display:  flex;

    &__item {
        margin-right: 56px;
        line-height: 20px;
        color: global.$color-white;
        font-family: global.$font-default;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        cursor: pointer;

        &_select {
            position: relative;

            select {
                cursor: pointer;
                line-height: 20px;
                font-family: global.$font-default;
                font-style: normal;
                font-size: 16px;
                font-weight: 300;
                appearance: none;
                background: transparent;
                box-shadow: none;
                border: 0;
                outline: 0;

                &:-moz-focusring {
                    color: transparent;
                    text-shadow: 0 0 0 #000;
                }

                @media screen and (max-width: 600px){
                    font-size: 13px;
                    line-height: 16px;
                }
            }

            &:after {
                content: "";
                position: absolute;
                width: 12px;
                height: 6px;
                background: url("/images/select-arrow.svg")no-repeat center;
                top: calc(50% - 3px);
            }
        }

        &:last-child {
            margin-right: 0;
        }

        @media screen and (max-width: 600px){
            font-size: 13px;
            line-height: 16px;
            margin-right: 36px;

            &:nth-child(2) {
                display: none;
            }
        }
    }

    @media screen and (max-width: 600px){
        width: 100%;
        justify-content: space-between;
    }
}