@use '../utils/vars' as global;

.main {
    display: flex;

    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    z-index: 1;

    width: 100%;
    //height: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: global.$width-container;

        @media screen and (max-width: 1366px) {
            max-width: inherit;
            padding: 0 60px;
            box-sizing: border-box;
        }
    }

    &__top-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 719px;
        background: url("/images/rent-without-driver/top-background.jpg") no-repeat center;
        z-index: -1;
        background-size: cover;
    }

    &__top-block {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 40px 0 147px 0;

        .button_rent {
            align-self: flex-end;
            margin-top: 101px;
        }
    }
}


